<aside class="main-sidebar">
				<section class="sidebar">
								<ul class="">
												<li class="content-header">
																Main Navigation
												</li>
												<li>
																@*Todo: add link*@
																<a href="">
																				<i class="fa fa-tachometer"></i>
																				<span>Dashboard</span>
																</a>
												</li>	
								</ul>
				</section>
</aside>
