/*
				Acceptable Colors:
				#67c1d8 - Light Blue
				#6788d8 - Dark Blue
				#d86788 - Off Red
				#67d8b6 - Teal
				#c1d867 - TYHB Green
				#7e67d8 - Purple
				#68391a - TYHB Brown
				and any varients of those listed above.
				*/

/*Orders View Table*/
table.orderTable {
				border: 5px solid #C1D867;
				background-color: #F7FAEC;
				width: 100%;
				text-align: left;
				border-collapse: collapse;
}

				table.orderTable td, table.orderTable th {
								border: 1px solid #AAAAAA;
								padding: 3px 2px;
				}

				table.orderTable tbody td {
								font-size: 16px;
								font-weight: bold;
								color: #68391A;
				}

				table.orderTable tr:nth-child(even) {
								background: #ECFAF6;
				}

				table.orderTable thead {
								background: #C1D867;
				}

								table.orderTable thead th {
												font-size: 19px;
												font-weight: bold;
												color: #68391A;
												text-align: left;
								}

				table.orderTable tfoot {
								font-size: 13px;
								font-weight: bold;
								color: #FFFFFF;
								background: #C1D867;
				}

								table.orderTable tfoot td {
												font-size: 13px;
								}

								table.orderTable tfoot .links {
												text-align: right;
								}

												table.orderTable tfoot .links a {
																display: inline-block;
																background: #68391A;
																color: #C1D867;
																padding: 20px 8px;
																border-radius: 2px;
												}

#orderTable_filter
{
				float:right;
}

#orderTable_paginate
{
				float:right;
				display:inline-block;
}

#orderTable_paginate a{
				font-size: 13px;
				font-style:inherit;
				display: inline-block;
				background: #68391A;
				color: #C1D867;
				border-radius: 2px;
}

				#orderTable_paginate.paginate_button {
								padding: 20px 8px;
								border: 10px 10px;
				}

																				#orderTable_paginate.paginate_button.current {
																				}